.container{
    margin-top: 20px;
}

.container h1{
    font-size: 100px;
    font-weight: bold;
}

.container div form{
    text-align: center;
}

.container div form .label{
    margin-left: 15px;
}

.container div form .radio{
    margin-top: 15px;
}

.container div button{
    margin-top: 20px;
    border: none;
    padding: 5px 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.container div #result{
    visibility: hidden;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.container div #result span{
    color: red;
}